In [1]:
import pandas as pd
import numpy as np
from scipy.stats import norm
from scipy import stats
from scipy.stats import boxcox
import seaborn as sns
from scipy.stats import ttest_ind

In [2]:
net = pd.read_csv("test.csv")
pd.options.display.max_rows = 10000
pd.options.display.max_columns = 10000
net.head(1)

,show_id,StreamR,release_year,rating,Anime,Family,Classic,Comedies,Cult,Documentaries,Dramas,Horror,Independent,International,Movies,Musicals,Romantic,Sci_Fi,Sports,Stand_Up_Comedy,Thrillers
0,81145628,Movie,2019,TV-PG,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [3]:
#Contingency Table
net_crosstab = pd.crosstab(net['Dramas'], net['rating'])
net_crosstab

rating,G,NC-17,NR,PG,PG-13,R,TV-14,TV-G,TV-MA,TV-PG,TV-Y,TV-Y7,TV-Y7-FV,UR
Dramas,,,,,,,,,,,,,,
0,21,1,126,118,171,295,862,67,1001,349,51,79,41,3
1,9,0,44,37,57,112,268,26,345,120,21,21,13,3

In [4]:
stats.chi2_contingency(net_crosstab)

(7.434620065114521,
 0.878387821670064,
 13,
 array([[2.24243135e+01, 7.47477118e-01, 1.27071110e+02, 1.15858953e+02,
         1.70424783e+02, 3.04223187e+02, 8.44649143e+02, 6.95153720e+01,
         1.00610420e+03, 3.50566768e+02, 5.38183525e+01, 7.47477118e+01,
         4.03637644e+01, 4.48486271e+00],
        [7.57568646e+00, 2.52522882e-01, 4.29288899e+01, 3.91410467e+01,
         5.75752171e+01, 1.02776813e+02, 2.85350857e+02, 2.34846280e+01,
         3.39895799e+02, 1.18433232e+02, 1.81816475e+01, 2.52522882e+01,
         1.36362356e+01, 1.51513729e+00]]))

#There is not a significant relationship between the genre types and rating. So the rating of the movies does not affect the genre.