# Importing Packages

In [1]:
import pandas as pd
import numpy as np
from scipy.stats import norm
from scipy import stats
from scipy.stats import boxcox
import seaborn as sns
from scipy.stats import ttest_ind
import matplotlib.pyplot as plt

# Loading Datasets

In [2]:
movieS1 = pd.read_csv("movieS1.csv")
pd.options.display.max_rows = 10000
pd.options.display.max_columns = 10000
movieS1.head(1)

,show_id,title,StreamR,listed_in,date_added,release_year,country,Anime,Family,Classic,Comedies,Cult,Documentaries,Dramas,Horror,Independent,International,Movies,Musicals,Romantic,Sci_Fi,Sports,Stand_Up_Comedy,Thrillers
0,81145628,Norm of the North: King Sized Adventure,Movie,"Children & Family Movies, Comedies",9/9/2019,2019,"United States, India, South Korea, China",0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [3]:
movieS12 = movieS1.drop(['title', 'listed_in', 'StreamR', 'date_added', 'country'], axis=1)
movieS12.dropna()
movieS12.head(1)

,show_id,release_year,Anime,Family,Classic,Comedies,Cult,Documentaries,Dramas,Horror,Independent,International,Movies,Musicals,Romantic,Sci_Fi,Sports,Stand_Up_Comedy,Thrillers
0,81145628,2019,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [4]:
movieS2 = pd.read_csv("movieS2.csv")
pd.options.display.max_rows = 10000
pd.options.display.max_columns = 10000
movieS2.head(1)

,show_id,title,StreamR,listed_in,date_added,release_year,country,Family,Classic,Comedies,Cult,Documentaries,Dramas,Spirituality,Horror,Independent,International,LGBTQ,Musicals,Romantic,Sci_Fi,Sports,Stand_Up_Comedy,Thrillers
0,81145628,Norm of the North: King Sized Adventure,Movie,"Children & Family Movies, Comedies",9/9/2019,2019,"United States, India, South Korea, China",0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [5]:
movieS22 = movieS2.drop(['title', 'listed_in', 'StreamR', 'date_added', 'country'], axis=1)
movieS22.dropna()
movieS22.head(1)

,show_id,release_year,Family,Classic,Comedies,Cult,Documentaries,Dramas,Spirituality,Horror,Independent,International,LGBTQ,Musicals,Romantic,Sci_Fi,Sports,Stand_Up_Comedy,Thrillers
0,81145628,2019,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [6]:
movieS3 = pd.read_csv("movieS3.csv")
pd.options.display.max_rows = 10000
pd.options.display.max_columns = 10000
movieS3.head(1)

,show_id,title,StreamR,listed_in,date_added,release_year,country,Classic,Comedies,Cult,Documentaries,Dramas,Spirituality,Horror,Independent,International,LGBTQ,Musicals,Romantic,Sci_Fi,Sports,Thrillers
0,81145628,Norm of the North: King Sized Adventure,Movie,"Children & Family Movies, Comedies",9/9/2019,2019,"United States, India, South Korea, China",0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [7]:
movieS32 = movieS3.drop(['title', 'listed_in', 'StreamR', 'date_added', 'country'], axis=1)
movieS32.dropna()
movieS32.head(1)

,show_id,release_year,Classic,Comedies,Cult,Documentaries,Dramas,Spirituality,Horror,Independent,International,LGBTQ,Musicals,Romantic,Sci_Fi,Sports,Thrillers
0,81145628,2019,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

# Subsetting Datasets

In [8]:
mFamily1 = movieS12[['release_year', 'Documentaries', 'Independent']]
mFamily1.head(1)

   release_year  Documentaries  Independent
0          2019              0            0

In [9]:
mFamily2 = movieS22[['release_year', 'Documentaries', 'Independent']]
mFamily2.head(1)

   release_year  Documentaries  Independent
0          2019              0            0

In [10]:
mFamily3 = movieS32[['release_year', 'Documentaries', 'Independent']]
mFamily3.head(1)

   release_year  Documentaries  Independent
0          2019              0            0

# Concat Datasets

In [11]:
familyMovies = pd.concat([mFamily1, mFamily2, mFamily3])
familyMovies.head(1)

   release_year  Documentaries  Independent
0          2019              0            0

# Movies: Coorelations

Question: Are Documentaries and Independent films related?

In [12]:
familyMovies['Documentaries'].corr(familyMovies['Independent'])

-0.04983530913265835

The corr() value is negitive, therefore is no correlation between Documentaries and Independent films. 
Documentaries films are not considered Independent films.

In [13]:
# Dropping non-continuous variables

familyMovies1 = familyMovies.drop(['release_year'], axis=1)
familyMovies1.head(1)

   Documentaries  Independent
0              0            0

In [14]:
familyMovies1.corr(method='pearson')

               Documentaries  Independent
Documentaries       1.000000    -0.049835
Independent        -0.049835     1.000000

In [15]:
familyMovies1.corr(method='pearson').style.format("{:.2}").background_gradient(cmap=plt.get_cmap('coolwarm'), axis=1)